<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- css from object storage -->
        <link rel="stylesheet" href="https://assignment3-23357.s3.jp-tok.cloud-object-storage.appdomain.cloud/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 >Images from Object storage</h1>
    <div >
         <!-- css from object storage -->
        <img src="https://assignment3-23357.s3.jp-tok.cloud-object-storage.appdomain.cloud/img1.jpg" alt="image 1">
        <img src="https://assignment3-23357.s3.jp-tok.cloud-object-storage.appdomain.cloud/img2.png" alt="image 1">
        <img src="https://assignment3-23357.s3.jp-tok.cloud-object-storage.appdomain.cloud/img3.jpg" alt="image 1">
        <img src="https://assignment3-23357.s3.jp-tok.cloud-object-storage.appdomain.cloud/img4.png" alt="image 1">
        <img src="https://assignment3-23357.s3.jp-tok.cloud-object-storage.appdomain.cloud/img5.jpg" alt="image 1">
        
    </div>
   
</body>
<script>
    window.watsonAssistantChatOptions = {
      integrationID: "91c4c9fb-7d7b-4f77-aa98-7a77abff2173", // The ID of this integration.
      region: "eu-gb", // The region your integration is hosted in.
      serviceInstanceID: "1aa23ad4-f9ee-4a79-9aad-5ec46973df7a", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
    setTimeout(function(){
      const t=document.createElement('script');
      t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
      document.head.appendChild(t);
    });
  </script>
</html>